<div class="reserva-card">
  <h3>Reserva</h3>
  <p><strong>Fecha:</strong> {{ reserva.fecha | date:'fullDate' }} a las {{ reserva.horaInicio.slice(0,5) }} - {{ reserva.horaFin.slice(0,5) }}</p>
  <p><strong>Profesor:</strong> {{ reserva.nombreProfesor }}</p>
  <p><strong>Grupo:</strong> {{ reserva.grupo }}</p>
<p><strong>Estado:</strong> 
  <span [ngClass]="{
    'estado-pendiente': getEstadoTexto(reserva.estado) === 'Pendiente',
    'estado-aprobada': getEstadoTexto(reserva.estado) === 'Aprobada',
    'estado-rechazada': getEstadoTexto(reserva.estado) === 'Rechazada'
  }">
    {{ getEstadoTexto(reserva.estado) }}
  </span>

  </p>
</div>
