<header class="brand-name">
  <a routerLink="/" aria-label="Ir a la página principal">
    <img class="brand-logo" src="/assets/iconoComercio.png" alt="logo" aria-hidden="true" height="60"/>
  </a>
  <h1></h1>
  <a routerLink="/" class="logout">Logout</a>
</header>

<main>
  <section class="Comercio">
    <router-outlet></router-outlet>
  </section>
</main>

<!-- <footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="../assets/iconoComercio.png" alt="IES Comercio Logo">
    </div>
    <div class="footer-logos">
      <a href="https://www.educacionyfp.gob.es/" target="_blank">
        <img src="../assets/logoEspaña.jpg" alt="Ministerio de Educación">
      </a>
      <a href="https://ec.europa.eu/social/main.jsp?catId=325&langId=es" target="_blank">
        <img src="../assets/europa.png" alt="Unión Europea">
      </a>
    </div>

    <div class="footer-info">
      <p><strong>Visítanos</strong></p>
      <p>📍 C/ Paseo del Prior 97, 26004 Logroño (La Rioja)</p>
      <p>📞 941 256 957</p>
      <p>📞 941 233 980</p>
      <p>✉ <a href="mailto:oficina@iescomercio.com">oficina&#64;iescomercio.com</a></p>
      <p>✉ <a href="mailto:ies.comercio@larioja.edu.es">ies.comercio&#64;larioja.edu.es</a></p>
    </div>

    <div class="footer-social">
      <p><strong>Síguenos</strong></p>
      <a href="https://www.youtube.com/user/iescomerciocom"><img src="../assets/youtube.png" alt="YouTube"></a>
      <a href="https://x.com/iescomercio"><img src="../assets/X.jpg" alt="Twitter"></a>
      <a href="https://es-es.facebook.com/people/IES-Comercio/100069087376356/"><img src="../assets/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/iescomercio/"><img src="../assets/instagram.png" alt="Instagram"></a>
    </div>

    <div class="footer-links">
      <p><strong>Enlaces de interés</strong></p>
      <a href="https://iescomercio.com/politica-de-cookies/">Política de cookies</a>
    </div>
  </div>
</footer> -->

